.Brandname
{
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 30px;
    
}

.cartlogo
{
    height: 30px;
    position: relative;
    top: 10px;
}

/* .cart{

    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 20px;

} */

/* .box1
{
    position: relative;
    top: 20px;
} */

#header1
{
    font-family: 'Poppins', sans-serif;
}
#header2
{
    font-family: 'Poppins', sans-serif;
    color: gray;
}

.center
{
    font-family: 'Poppins', sans-serif;
    text-align: center; 
}
.serchbox
{
    border-radius: 10px;
}

.card
{
    flex-direction: row;
}
.box1
{
    background-color: #4E4FEB;
    height: 255px;
    border-radius: 20px;
    color: white;
    font-family: 'Poppins', sans-serif;
}
.box2
{
    background-color: #4E4FEB;
    height: 255px;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    color: white;
}
